.small-height {
    border: 20px groove#97dae6;
    padding: 12px;
    margin: 12px;

}



.small-width {
    border: 20px outset #2e6370;
    padding: 12px;
    margin: 10px;
  

   }

.green-frame {
    border : 20px ridge #00FFCC;
    padding: 12px;
    margin: 10px;
  border-color:#6f7d79;
   
}

.black-frame {
     border-radius: 50%;
    border: 25px dashed #4f6d8f;
    
    margin: 15px;
}

.pink-frame {
    border: 30px double#061214;
    padding: 6px;
}

.circle {
    border-radius: 50%;
}


img {
    margin: 18px;
    height: 350px;
}

div {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
body
{
    background: #a1c5ed;
}